<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_employee_clearance_root"
              name="Employee Clearance"
              sequence="0"/>

    <!-- parent Menu -->
    <menuitem id="menu_employee_master"
              name="Employee Details"
              parent="menu_employee_clearance_root"
              sequence="0"/>


    <menuitem id="menu_configuration_master"
              name="Configuration"
              parent="menu_employee_clearance_root"
              sequence="20"/>







    <!--    web_icon="om_hospital,static/description/icon.png"-->
</odoo>